*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    font-family: "Roboto",sans-serif;
    --background2-color:#FFDFBA;
    --third-color: #FFFFBA;
    --fourth-color: #BAFFC9;
    --text-color:white;

}
    .about-us{
        text-align: center;
    }
    
    .flex{
        flex:0 0 50%;
        margin-bottom: 20px;

    }
    .about-us h1{
        font-size: 45px;
        margin-bottom:20px;
        color:var(--primary-color);

    }
    .about-us h2{
        font-size:22px;
        color:var(--text-color);
        margin-bottom: 8px;
    }
        .about-us p{
            font-size:20px;
            line-height: 1.5;
            color:black;
            margin-bottom: 20px;
        }
        img{
            width: 100%;
            height:auto;
            margin:0;
            padding: 0;
        }
