@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{

	--primary-color: #FFB3BA;
	--background-color: #ffffff;
    --background2-color:#FFDFBA;
    --third-color: #FFFFBA;
    --fourth-color: #BAFFC9;
    --secondary-color: #BAE1FF;
    --highlight-color:#212223    ;
    --text-color:#58ABAE;


}

/*utilities*/

.hov:hover
{
    transform: scale(1.1);
}
.hov{
    transition: .2s ease-in-out;
}


.heading-1
{
    font-family: raleway;
    font-weight: 800;
    color: var(--highlight-color);
    padding: .5rem;
}
.heading-1-under
{
    font-family: raleway;
    font-weight: 400;
    color: var(--primary-color);
    padding: .1rem;
}

.heading-2
{
    font-family: Bebas Neue;
    font-weight: 600;
    color: var(--primary-color);
    padding: .5rem;
}
.heading-2-under
{
    font-family: raleway;
    font-weight: 300;
    color: var(--secondary-color);
    padding: .1rem;
}

.simple-text-1
{
    font-family: sans-serif;
    font-weight: 500;
    color: var(--text-color);

}

.simple-text-2
{
    font-family: sans-serif;
    font-weight: 500;
    color: var(--background-color);

}

.card
{
    box-shadow: 0.6rem 1rem 1.3rem rgba(0, 0, 0, 0.3);
    border-radius: 2rem;
    margin: .5rem;
    transition: .2s ease-in-out;
}
.card:hover
{
    transform: scale(1.05);
}

.flex-r
{
    display: flex;
}
.flex-c
{
    display: flex;
    flex-direction: column;
}
.wrap{
    flex-wrap: wrap;
}

.roundbut
{
   
    width: 5rem;
    height: 5rem;
    border-radius: 3rem;
}
.buttons
{
    border: none;
    background-color: var(--background-color);
    box-shadow:.1rem .1rem .6rem .1rem rgba(0, 0, 0, .5);
    transition: .2s ease-in-out;

}
.buttons:hover
{
    transform: scale(1.2);
    border-radius: 1rem;
}


/* Flip card 2 */
body {background: #F5F6FA; font-weight: bold; color: #858AA6; font-size: 20px;}

.flip-card-3D-wrapper {
  width: 100%;
  height: 100%;
  max-width: 300px; 
  perspective: 900px;
  margin: 10px auto;
}

.flip-card {
  height: 100%;
  transition: all 1s ease-in-out;
  transform-style: preserve-3d;
  height: 500px;
}


.do-flip {transform: rotateY(-180deg);}

.flip-card-btn-turn-to-back, .flip-card-btn-turn-to-front {
  position: absolute;
  bottom: 8px;
  right: 8px;  
  visibility: hidden;
  border-radius: 10px;
}

.flip-card-btn-turn-to-back{
    border: white;
    background: white;
    color: #858AA6;
}



.flip-card-front, .flip-card-back {
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  z-index: 2;
  border-radius: 10px;
  border:5px solid var(--primary-color);
}

.flip-card-front {
    background: var(--primary-color);
    background-image: url(../images/card-back.png);
    background-position: center;
    background-size: cover;
    
}
.flip-card-back {background: white;transform: rotateY(180deg);}
.flip-card-front {color: white;}
.flip-card-back h4 {color: var(--primary-color)}





/* Nav bar */
.nav-bg
{
    background: var(--primary-color);
    background-image: url(../images/card-back.png);
    background-position: center;
    background-size: cover;
    padding: .5rem 1.5rem 0 1.5rem ;

}
.link-dec
{
    list-style-type:none;
    padding: .5rem 1.2rem 0 1rem;
    font-family: bebas neue;
    color: var(--text-color);
    font-size: 1rem;
    border-left: .3rem solid var(--text-color);
    border-radius: .3rem;
    transition: .2s ease-in-out;
}
.link-dec:hover
{
    color: var(--background-color);
    background-color: var(--highlight-color);
    border-left: .3rem solid var(--text-color);
    transform: scale(1.03);
    
}

/* border */

.circle
{
    border-radius: 90rem;
    height: 12rem;
    background-color: var(--primary-color);
    margin: 0 1rem;
    transition: .2s ease-in-out;

}

.circle:hover
{
    translate: 0 -2rem;

}

body {
    font-family: sans-serif;
     margin: 0;
     background: #f2f2f2;
  }
  
  h1 {
    text-align: center;
    margin-top: 50px;
  }
  
  p {
    text-align: center;
    margin-bottom:60px;
  }
  
  h4{
    text-align:center; 
    line-height:80px;
    font-weight:normal;
  
  }

  /* Categories */
  
  .masonry { /* Masonry container */
      -webkit-column-count: 4;
    -moz-column-count:4;
    column-count: 4;
    -webkit-column-gap: 1em;
    -moz-column-gap: 1em;
    column-gap: 1em;
     margin: 1.5em;
      padding: 0;
      -moz-column-gap: 1.5em;
      -webkit-column-gap: 1.5em;
      column-gap: 1.5em;
      font-size: .85em;
  }
  .item {
      display: inline-block;
      background: #fff;
      padding: 1em;
      margin: 0 0 1.5em;
      width: 100%;
      transition:1s ease all;
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-shadow: 2px 2px 4px 0 #ccc;
  }
  .item:hover
  {
    transform: scale(1.15);
  }
  .item img{max-width:100%;}
  
  @media only screen and (max-width: 320px) {
      .masonry {
          -moz-column-count: 1;
          -webkit-column-count: 1;
          column-count: 1;
      }
  }
  
  @media only screen and (min-width: 321px) and (max-width: 768px){
      .masonry {
          -moz-column-count: 2;
          -webkit-column-count: 2;
          column-count: 2;
      }
  }
  @media only screen and (min-width: 769px) and (max-width: 1200px){
      .masonry {
          -moz-column-count: 3;
          -webkit-column-count: 3;
          column-count: 3;
      }
  }
  @media only screen and (min-width: 1201px) {
      .masonry {
          -moz-column-count: 4;
          -webkit-column-count: 4;
          column-count: 4;
      }
  }
