@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{

	--primary-color: #FFB3BA;
	--background-color: #ffffff;
    --background2-color:#FFDFBA;
    --third-color: #FFFFBA;
    --fourth-color: #BAFFC9;
    --secondary-color: #BAE1FF;
    --highlight-color:#212223    ;
    --text-color:#58ABAE;


}

/*utilities*/
a
{
    text-decoration: none;
    border: none;
}
.heading-1
{
    font-family: raleway;
    font-weight: 800;
    color: var(--highlight-color);
    padding: 1rem;
}
.heading-1-under
{
    font-family: raleway;
    font-weight: 400;
    color: var(--primary-color);
    padding: 1rem;
}

.heading-2
{
    font-family: Bebas Neue;
    font-weight: 600;
    color: var(--primary-color);
    padding: 1rem;
}
.heading-2-under
{
    font-family: raleway;
    font-weight: 300;
    color: var(--secondary-color);
    padding: 1rem;
}

.simple-text-1
{
    font-family: sans-serif;
    font-weight: 500;
    color: var(--text-color);

}

.simple-text-2
{
    font-family: sans-serif;
    font-weight: 500;
    color: var(--background-color);

}


.card
{
    box-shadow: 0.6rem 1rem 1.3rem rgba(0, 0, 0, 0.3);
    border-radius: 2rem;
    margin: 1rem;
}

.flex-r
{
    display: flex;
}
.flex-c
{
    display: flex;
    flex-direction: column;
}
.wrap{
    flex-wrap: wrap;
}

/* Flip card 2 */
body {background: #F5F6FA; font-weight: bold; color: #858AA6; font-size: 20px;}

.flip-card-3D-wrapper {
  width: 100%;
  height: 100%;
  max-width: 300px; 
  perspective: 900px;
  margin: 10px auto;
}

.flip-card {
  height: 100%;
  transition: all 1s ease-in-out;
  transform-style: preserve-3d;
  height: 500px;
}


.do-flip {transform: rotateY(-180deg);}

.flip-card-btn-turn-to-back, .flip-card-btn-turn-to-front {
  position: absolute;
  bottom: 8px;
  right: 8px;  
  visibility: hidden;
  border-radius: 10px;
}

.flip-card-btn-turn-to-back{
    border: white;
    background: white;
    color: #858AA6;
}



.flip-card-front, .flip-card-back {
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  z-index: 2;
  border-radius: 10px;
  border:5px solid var(--primary-color);
}

.flip-card-front {
    background: var(--primary-color);
    background-image: url(../images/card-back.png);
    background-position: center;
    background-size: cover;
    
}
.flip-card-back {background: white;transform: rotateY(180deg);}
.flip-card-front {color: white;}
.flip-card-back h4 {color: var(--primary-color)}


/* Nav bar */