@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root{

	--primary-color: #FFB3BA;
	--background-color: white;
    --background2-color:#FFDFBA;
    --third-color: #FFFFBA;
    --fourth-color: #BAFFC9;
    --secondary-color: #BAE1FF;
    --highlight-color:#212223    ;
    --background1-color:#E6E6FA;


}

/* FLip card 

.flip-card {
    perspective: 1000px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.flip-card-front {
    background-color: #f8f9fa;
    color: #000;
}

.flip-card-back {
    background-color: #343a40;
    color: #000;
    transform: rotateY(180deg);
}

.card-img-top {
    max-height: 200px;
    object-fit: cover;
}*/

/* Flip card 2 */
body {background: #F5F6FA; font-weight: bold; color: #858AA6; font-size: 20px;}

.flip-card-3D-wrapper {
  width: 100%;
  height: 100%;
  max-width: 300px; 
  perspective: 900px;
  margin: 10px auto;
}

.flip-card {
  height: 100%;
  transition: all 1s ease-in-out;
  transform-style: preserve-3d;
  height: 500px;
}


.do-flip {transform: rotateY(-180deg);}

.flip-card-btn-turn-to-back, .flip-card-btn-turn-to-front {
  position: absolute;
  bottom: 8px;
  right: 8px;  
  visibility: hidden;
  border-radius: 10px;
}

.flip-card-btn-turn-to-back{
    border: white;
    background: white;
    color: #858AA6;
}



.flip-card-front, .flip-card-back {
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  z-index: 2;
  border-radius: 10px;
  border:5px solid var(--primary-color);
}

.flip-card-front {
    background: var(--primary-color);
    background-image: url(../images/card-back.png);
    background-position: center;
    background-size: cover;
    
}
.flip-card-back {background: white;transform: rotateY(180deg);}
.flip-card-front {color: white;}
.flip-card-back h4 {color: var(--primary-color)}
.text-de{
    font-family: raleway;
    font-weight: 500;
    padding:1rem;
}